   <!-- Top Bar -->
  <section id="top-bar" class="p-3">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <i class="fas fa-phone"></i> +91 9328026354
        </div>
        <div class="col-md-4">
          <i class="fas fa-envelope-open"></i> contact@realestate.com
        </div>
        <div class="col-md-4">
          <div class="social text-right ">
            <a href="#">
              <i class="fab fa-twitter text-dark"></i>
            </a>
            <a href="#">
              <i class="fab fa-facebook text-dark"></i>
            </a>
            <a href="#">
              <i class="fab fa-linkedin text-dark"></i>
            </a>
            <a href="#">
              <i class="fab fa-instagram text-dark"></i>
            </a>
            <a href="#">
              <i class="fab fa-pinterest text-dark"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>